<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center align-items-center">
    <div class="container">
        <p class="navbar-brand">Busca una imagen</p>
        <a href="/api/images" class="btn btn-secondary">Ir a Buscador de imagenes</a>

        </div>
    </div>
</nav>
