{{>header}}


    <div class="container">
        <form action="/products/create" method="post">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name">
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca">
            <label for="price">Precio</label>
            <input type="text" name="price" id="price">
            <label for="supplier">Proveedor</label>
            <input type="text" name="supplier" id="supplier">
            <input type="submit">
        </form>
    </div>




{{>footer}}